[Unit]
Description=mux

[Service]
Type=simple
WorkingDirectory=
ExecStart=/usr/local/bin/ossmark
Restart=always
RestartSec=10s
KillMode=process

[Install]
WantedBy=multi-user.target